@use "@scss/class/mixins.scss" as m;

//
@layer ui-text {
    :host(ui-longtext) {
        //
        & {
            --background-tone-shift: 0.1;
            --ui-text-background-color: --c2-surface(var(--background-tone-shift, 0.0), var(--current, transparent));
            --ui-text-color: --c2-on-surface(var(--ui-text-tone-shift, 0.0), var(--current, currentColor));
            --ui-text-font-size: 0.9rem;
            --ui-text-font-family: "InterVariable", "Inter", Helvetica, Calibri, Carlito;
            --ui-text-border-width: 0.0625rem;
            --ui-text-radius: 0.5rem;
            --ui-text-border-radius: 0.5rem;
            --ui-text-border-width: 0.0625rem;
            --ui-text-border-color: --c2-on-surface(var(--ui-text-tone-shift, 0.0), var(--current, currentColor));
        }

        //
        & {
            max-inline-size: 100%;
            max-block-size: 100%;
            inline-size: max-content;
            block-size: max-content;
            display: grid !important;
            place-content: stretch;
            place-items: stretch;
            text-align: start;
            pointer-events: none;
            user-select: none;
            background-color: var(--ui-text-background-color, transparent);
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            font-size: var(--ui-text-font-size, 1rem);
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
            position: relative;
            overflow: hidden;
            contain: none;
        }

        //
        &, * {
            box-sizing: border-box;
            transition-behavior: allow-discrete;
            interpolate-size: allow-keywords;
            user-select: none;
            pointer-events: none;
        }

        & {
            @include m.round-corner(var(--ui-text-radius, 0.5rem));
        }

        //
        & {
            border-radius: var(--ui-text-border-radius, 0.5rem);
            border-width: var(--ui-text-border-width, 0.0625rem);
            border-color: var(--ui-text-border-color, --c2-on-surface(var(--ui-text-tone-shift, 0.0), var(--current, currentColor)));
            border-style: solid;
        }

        //
        & > * {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            justify-content: start;
            text-align: start;
            user-select: none;
            pointer-events: none;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            font-size: var(--ui-text-font-size, 1rem);
            font-family: var(--ui-text-font-family, inherit);
            inline-size: 100%;
            block-size: 100%;
            background-color: transparent;
            overflow: hidden;
        }

        //
        .box-layer {
            inline-size: 100%;
            block-size: 100%;
            display: block;
            text-align: start;
            place-content: stretch;
            place-items: stretch;
            justify-content: start;
            justify-self: start;
            justify-items: start;
            user-select: none;
            pointer-events: none;
            user-select: none;
            border: none;
            outline: none;
            padding: 0;
            padding-block-end: 0.25rem;
            margin: 0;
            font-size: var(--ui-text-font-size, 1rem);
            font-family: var(--ui-text-font-family, inherit);
            overflow-inline: scroll;
            overflow-block: hidden;
            contain: none;
            background-color: transparent;

            // prevent input from being cut off visually
            clip-path: inset(0px 0.125rem round 0.125rem);

            // smoothly crop input in left and right edges...
            mask-image: linear-gradient(
                to right,
                transparent 0rem,
                transparent 0.125rem,
                black 0.5rem,
                black calc(100% - 0.5rem),
                transparent calc(100% - 0.125rem),
                transparent 100%
            );
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-mode: alpha;
            mask-origin: content-box;
            mask-clip: padding-box;
        }

        //
        ::slotted(input) {
            display: inline-block;
            min-inline-size: -webkit-fill-available;
            min-inline-size: stretch;
            min-block-size: 100%;
            inline-size: auto;
            block-size: max-content;
            place-content: stretch;
            place-items: stretch;
            text-align: start;
            justify-self: start;
            justify-content: start;
            user-select: auto;
            pointer-events: auto;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0.25rem;
            padding-inline: 0.5rem;
            padding-block-end: 0.333rem;
            margin: 0;
            field-sizing: content;
            font-size: var(--ui-text-font-size, 1rem);
            font-family: var(--ui-text-font-family, inherit);
            border: none 0px transparent;
            outline: none 0px transparent;
            box-sizing: border-box;
            overflow: visible;
        }
    }
}
