@use "sass:list";

/* */
@use "../_decl/names" as *;
@use "../_decl/constants" as *;

/* */
@use "../_lib/themed" as *;
@use "../_lib/der-shades" as *;
@use "../_lib/generation" as *;

/* */
/* Generate function */
@mixin make-function($type, $current: 'current') {
    $f-args: "(--tone-shift <number>, --#{$current} <color>: var(--#{$current}, inherit)) returns <color>";
    $f-name: "--c2-#{$type}";
    $f-o-name: "--c2-on-#{$type}";

    /* */
    @#{"function"} #{$f-name}#{$f-args} {
        @include generate-themed-nodes($current, ($type));
        result: var(--#{$current}-#{$type}, inherit);
    }

    /* */
    @#{"function"} #{$f-o-name}#{$f-args} {
        @include generate-themed-nodes($current, ("on-#{$type}"));
        result: var(--#{$current}-on-#{$type}, inherit);
    }
}
