@use "sass:list";

/* */
@use "../_lib/names" as *;
@use "../_lib/themed" as *;
@use "../_lib/shading" as *;
@use "../_lib/derivate" as *;
@use "../_lib/properties" as *;
@use "../_lib/constants" as *;

/* */
@property --primary { syntax: "<color>"; initial-value: #1a1; inherits: true; };
@property --trinary { syntax: "<color>"; initial-value: #a21; inherits: true; };
@property --secondary { syntax: "<color>"; initial-value: #12a; inherits: true; };
@property --current { syntax: "<color>"; initial-value: #1a1; inherits: true; };

/* */
@property --detected-theme { syntax: "<number>"; initial-value: 0; inherits: true; };

/* Generate property tones */
@include property-tones($tone-names);
@include property-themed($primary-name, $tone-names);
@include property-themed($secondary-name, $tone-names);
@include property-themed($trinary-name, $tone-names);
@include property-themed($current-name, $tone-names);
