@layer box-with-sidebar {
    :host {
        & {
            --ui-shadow-soft: #0002;
        }

        & {
            display: grid;
            grid-template-columns: [sidebar-col] minmax(0px, max-content) [content-col] minmax(0px, 1fr);
            grid-template-rows: [bar-row] minmax(3rem, max-content) [content-row] minmax(0px, 1fr);
            inline-size: stretch;
            block-size: stretch;
            position: relative;
            background-color: transparent;
            container-type: inline-size;
        }

        // bar
        .bar {
            display: flex;
            flex-direction: row;
            gap: 0.125rem;
            inline-size: stretch;
            block-size: 3rem;
            max-block-size: stretch;
            grid-column: 1 / -1; // span with contents, overlays by sidebar
            grid-row: bar-row;
            z-index: 3;
            background-color: transparent;
            color: --c2-on-surface(0.0, var(--current, currentColor));
            overflow: hidden;
            place-content: center;
            place-items: center;
            box-shadow: none;

            ::slotted([slot="bar"]) {
                inline-size: stretch;
                block-size: stretch;
                place-content: center;
                place-items: center;
                flex-grow: 1;
            }

            button {
                aspect-ratio: 1 / 1;
                block-size: stretch;
                inline-size: max-content;
                color: --c2-on-surface(0.0, var(--current, currentColor));
            }

            ui-icon {
                color: --c2-on-surface(0.0, var(--current, currentColor));
                --icon-color: --c2-on-surface(0.0, var(--current, currentColor));
            }
        }

        .content-box {
            display: grid;
            inline-size: stretch;
            block-size: stretch;
            grid-template-columns: subgrid;
            grid-template-rows: minmax(0px, 1fr);
            grid-column: 1 / -1; // span with contents, overlays by sidebar, bar, etc.
            grid-row: content-row;
            z-index: 1;
            border-radius: 0.25rem;
            overflow: hidden;
            margin-inline: 0.25rem;
            margin-block-end: 0.25rem;
            background-color: transparent;
            box-shadow: none;
            contain: none;
        }

        // sidebar
        .sidebar {
            & {
                display: flex;
                flex-direction: column;
                gap: 0.125rem;
                inline-size: max-content;
                min-inline-size: 4rem;
                block-size: stretch;
                grid-column: sidebar-col;
                grid-row: 1 / -1;
                z-index: 2;
                overflow: hidden;
                border-radius: 0.5rem;
                padding: 0px;
                box-shadow: none;
            }

            ::slotted([slot="sidebar"]) {
                inline-size: stretch;
                block-size: stretch;
                flex-grow: 1;
                place-content: center;
                place-items: center;
                line-height: normal;
                align-content: start;
                padding: 0rem;
                box-shadow: none;
            }

            //
            @container (max-inline-size: 800px) {
                & {
                    transform: translateX(-100%);
                    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                }

                @starting-style {
                    transform: translateX(-100%);
                    box-shadow: none;
                }

                &[data-visible] {
                    transform: translateX(0px);
                    box-shadow: 0 0 1rem var(--ui-shadow-soft);
                }
            }
        }

        // content box
        .content {
            display: flex;
            flex-direction: column;
            gap: 0.125rem;
            inline-size: stretch;
            block-size: stretch;

            max-inline-size: none;
            max-block-size: none;

            grid-column: 1 / -1; // span with contents, overlays by sidebar, bar, etc.
            grid-row: 1 / -1;
            z-index: 1;
            overflow: hidden;
            background-color: transparent;

            box-shadow: none;
            contain: none;

            container-type: inline-size;

            //
            ::slotted(*) {
                inline-size: stretch;
                block-size: stretch;
                flex-grow: 1;
                place-content: center;
                place-items: center;
                box-shadow: none;
            }
        }

        @container (min-inline-size: 800px) {
            & {
                gap: 0.5rem;

                .content {
                    grid-column: content-col;
                }

                .sidebar {
                    grid-column: sidebar-col;
                    transform: translateX(0px);
                }

                .bar button {
                    display: none;
                }
            }
        }
    }
}
