@use "ctm-2-shading" as *;

/*** Enable components in DOM ***/
/** CURRENTLY, NOT IMPLEMENTED **/

/* */
$current-name: "current";
$primary-name: "primary";
$trinary-name: "trinary";
$secondary-name: "secondary";

/* */
@include property-tones();
@include property-themed($primary-name);
@include property-themed($secondary-name);
@include property-themed($trinary-name);
@include property-themed($current-name);

/* */
@layer ux-ctm {
    :root {
        interpolate-size: allow-keywords;

        /* */
        --#{$primary-name}  : #1a1;
        --#{$trinary-name}  : oklch(from var(--#{$primary-name}, #1a1) l c rem(calc(h + 240), 360));
        --#{$secondary-name}: oklch(from var(--#{$primary-name}, #1a1) l c rem(calc(h + 120), 360));

        /* variable */
        --#{$current-name}  : var(--#{$primary-name}, #1a1);
    }

    /* */
    :scope, :host, :root {
        @include detected-theme();
        @include generate-toned-nodes();
        @include generate-themed-nodes($primary-name);
        @include generate-themed-nodes($secondary-name);
        @include generate-themed-nodes($trinary-name);
        @include generate-themed-nodes($current-name);
    }

    /* inherit from parent */
    :scope:not(:root), :host {
        interpolate-size: allow-keywords;

        /* */
        --#{$primary-name}  : inherit;
        --#{$trinary-name}  : oklch(from var(--#{$primary-name}, #1a1) l c rem(calc(h + 240), 360));
        --#{$secondary-name}: oklch(from var(--#{$primary-name}, #1a1) l c rem(calc(h + 120), 360));

        /* variable */
        --#{$current-name}  : var(--#{$primary-name}, #1a1);
    }

    .c2-surface, .c2-contrast {
        @include detected-theme();
        @include generate-toned-nodes();
        @include generate-themed-nodes($primary-name);
        @include generate-themed-nodes($secondary-name);
        @include generate-themed-nodes($trinary-name);
        @include generate-themed-nodes($current-name);
    }

    /* */
    .c2-surface {
        background-color: var(--primary-surface);
        color: var(--primary-surface);
    }

    /* */
    .c2-contrast {
        background-color: var(--primary-contrast);
        color: var(--primary-contrast);
    }
}
