@use "./scss/github-markdown.scss";
@use "./scss/markdown-print.scss";

//
@layer md-misc {
    #markdown   { color-scheme: inherit; font-size: 1em; isolation: isolate; touch-action: pan-y; };
    #markdown * { color-scheme: inherit; font-size: 1em;  contain-intrinsic-block-size: auto 1em; };

    //
    [data-hidden]   #markdown { color-scheme: inherit; content-visibility: auto !important; }
    [data-dragging] #markdown { color-scheme: inherit; content-visibility: auto !important; :where(*) { content-visibility: auto !important; } }
}
