@use "./scss/github-markdown.scss";
@use "./scss/markdown-print.scss";

//
@layer md-misc {
    :where(#markdown, :host)   { color-scheme: inherit; font-size: inherit; isolation: isolate; touch-action: pan-y; text-align: start; };
    :where(#markdown, :host) * { color-scheme: inherit; contain-intrinsic-block-size: auto 1em; };

    //
    [data-hidden]   :where(#markdown, :host) { color-scheme: inherit; content-visibility: auto !important; }
    [data-dragging] :where(#markdown, :host) { color-scheme: inherit; content-visibility: auto !important; :where(*) { content-visibility: auto !important; } }

    //
    :where(#markdown, :host) {
        touch-action: manipulation;
        pointer-events: auto;
        user-select: text;
    }
}
