@use "@scss/class/mixins.scss" as m;

//
@layer ui-icon {
    :host(ui-icon) {
        & {
            --ui-icon-size: 2rem;
            --ui-icon-color: currentColor;
        }

        & { // mask image
            mask-image: linear-gradient(#0000, #0000);
            mask-type: alpha;
            mask-clip: content-box;
            mask-origin: content-box;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center center;

            //
            padding: 0.125rem;
            content-visibility: visible;

            //
            @include m.color(var(--ui-icon-color, currentColor));
            @include m.size(var(--ui-icon-size), var(--ui-icon-size), 1 / 1);
            @include m.display(inline flex, center, center);
        }
    }
}
