:host(ui-icon) {
    background-color: currentColor;
    mask-image: linear-gradient(#0000, #0000);
    mask-type: alpha;
    mask-clip: content-box;
    mask-origin: content-box;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center center;
    aspect-ratio: 1 / 1;
    inline-size: 2rem;
    block-size: 2rem;
    box-sizing: border-box;
    padding: 0.125rem;
    display: inline-flex;
    content-visibility: visible;
}
