// Web Component Styles
@use "../../shared/_mixins.scss" as tb;

//
:host(ui-task) {
    //
    & { @include tb.task-base; @include tb.task-slots; @include tb.task-states; }

    //
    &, * {
        box-sizing: border-box;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
    }
}

// Focused task styles
:host(ui-task[data-focus]) {
    background: --c2-surface(0.0, var(--current));
    border-color: --c2-on-surface(0.0, var(--current));
    //box-shadow: 0 0 0 1px --c2-on-surface(0.0, var(--current)) 30% inset, 0 10px 24px -14px --c2-on-surface(0.0, var(--current)) 60%;

    //
    & { @include tb.task-states; }
}
