@use "@scss/class/layout.scss";

//
@property --scroll-coef { syntax: "<number>"; initial-value: 1; inherits: true; };
@property --scroll-size { syntax: "<number>"; initial-value: 0; inherits: true; };
@property --content-size { syntax: "<number>"; initial-value: 0; inherits: true; };
