@use "veela-lib" as m;

//
@include m.host-related('ui-statusbar', '*') {
    background-color: transparent;
}

//
@include m.host-context('ui-statusbar') {
    @include m.display(flex, row, center, space-between);

    //
    & {
        color: --c2-on-contrast(0.0, var(--current));
        color-scheme: dark;
    }

    //
    .left {
        @include m.display(flex, row, center, start);

        & {
            min-inline-size: 0px;
            max-inline-size: fit-content;
        }

        & {
            flex: 1 1 0%;
            flex-basis: max-content;
        }
    }

    //
    .right {
        @include m.display(flex, row, center, end);

        & {
            min-inline-size: 0px;
            max-inline-size: fit-content;
        }

        & {
            flex: 1 1 0%;
            flex-basis: max-content;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    //
    .center {
        @include m.display(flex, row, center, center);

        & {
            min-inline-size: 0px;
            max-inline-size: stretch;
        }

        & {
            flex: 1 1 0%;
            flex-basis: stretch;
        }
    }
}
